<div class="container">

<%= link_to tasks_path do %>
<i class="fas fa-arrow-left"></i>
<% end %>

<%= form_for(@task) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :details %>
<%= f.text_field :details %>
<%= f.submit %>
<% end %>

</div>
